/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    justify-content: center;
    align-items: center;
}

.chessboard div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.white {
    background-color: #eee;
}

.black {
    background-color: #222;
    color: #fff;
}

p {
    max-width: 750px; /* Adjust the value to your desired maximum width */
    margin: 0 auto;   /* Centers the paragraph within its container */
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* Remove default list styling (bullets/numbers) */
    padding: 0;            /* Remove default padding */
}

li {
    text-align: left;
}