{% extends "layout.html" %}

{% block title %}
    Practice Notation
{% endblock %}

{% block main %}
    <body>

        <div>
            <h3>Try It Yourself!</h3>
        </div>

        <div>

            <form action="/answer" method="post">
                <label>What is the notation of the following movements?</label>

                <div style="margin-top: 20px;"></div>

                <div class="mb-3">
                    <input type="text" id="answer1" name="answer1" required placeholder="Notation for movement 1">
                </div>

                <div class="mb-3">
                    <input type="text" id="answer2" name="answer2" required placeholder="Notation for movement 2">
                </div>
                
                <div class="mb-3">
                    <input type="text" id="answer3" name="answer3" required placeholder="Notation for movement 3">
                </div>
                
                <button class="btn btn-primary" type="submit">Check</button>
            </form>
            
            <div style="margin-top: 20px;"></div>
            
            <div>
                <img src="/static/practice.png" alt="Movement of pieces">
            </div>
        </div>

    </body>
{% endblock %}