{% extends "layout.html" %}

{% block title %}
    Practice Notation
{% endblock %}

{% block main %}
    <body>

        <div>
            <h3>Try It Yourself!</h3>
        </div>

        <div>

            <form action="/answer" method="post">
                <label>What is the notation of the movement described by #1?</label>
                <input type="text" id="answer1" name="answer1" required placeholder="Notation">
                <button type="submit">Check</button>
            </form>

            <form action="/answer" method="post">
                <label>What is the notation of the movement described by #2?</label>
                <input type="text" id="answer2" name="answer2" required placeholder="Notation">
                <button type="submit">Check</button>
            </form>
    

            <form action="/answer" method="post">
                <label>What is the notation of the movement described by #3?</label>
                <input type="text" id="answer3" name="answer3" required placeholder="Notation">
                <button type="submit">Check</button>
            </form>
            
            <div>
                <img src="/static/practice.png" alt="Movement of pieces">
            </div>
        </div>

    </body>
{% endblock %}