{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>EnPeassant</h1>
    <body>
        By Owen Xu and Daniel Zhang
    </body>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Opening Name</th>
                <th scope="col">Starting Color</th>
                <th scope="col">Number of Main Variations</th>
            </tr>
        </thead>
    </table>

    <style>
        .not-bold
        {
            font-weight: normal;
        }
        .background 
        {
            background-image: url('Background.jpeg');
        }
    </style>

    <div style="margin-top: 20px;"></div>

    <tbody>
        {% for n in name %}
            <tr>
                <td class="not-bold" href="https://physics.yale.edu/people/david-poland">{{ n["name"] }}</th>
                <td class="not-bold">{{ n["color"] }}</th>
                <td class="not-bold">{{ n["variations"] }}</th>
            </tr>
        {% endfor %}
    </tbody>




{% endblock %}