{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>EnPeassant</h1>

    <style>
        body {
            background-image: url('/static/Background.jpeg');
        }
    </style>

    <body>

        By Owen Xu and Daniel Zhang

    <div style="margin-top: 20px;"></div>
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Opening Name</th>
                <th scope="col">Starting Color</th>
                <th scope="col">Number of Main Variations</th>
            </tr>
        </thead>

        {% for n in name %}
            <tr>
                <td><a class="not-bold" href="https://physics.yale.edu/people/david-poland">{{ n["name"] }}</a></th>
                <td class="not-bold">{{ n["color"] }}</th>
                <td class="not-bold">{{ n["variations"] }}</th>
            </tr>
        {% endfor %}
    </table>

    <div style="margin-top: 20px;"></div>

    </body>




{% endblock %}