{% extends "layout.html" %}

{% block title %}
    Notation
{% endblock %}

{% block main %}
    <h1>Notation</h1>
    <body>
        By Owen and Daniel John
        <p>In chess, every square has a name. Starting from the left side of the board, in white's perspective, we denote every column starting from a to h, and starting from the bottom we number every row from 1 to 8. We denote the white pieces with capital leter, such as P por pawn, and black pieces with lower letters, such as p for pawn.</p>
        <p>In general, chess follows the following notation:</p>
        <div class="center-container">
            <ul>
                <table>
                    <tr>
                        <th>Symbol (White Piece)</th>
                        <th>Symbol (Black Piece)</th>
                        <th>Piece</th>
                    </tr>
                    <tr>
                        <td>P</td>
                        <td>p</td>
                        <td>White Pawn</td>
                    </tr>
                    <tr>
                        <td>R</td>
                        <td>r</td>
                        <td>White Rook</td>
                    </tr>
                    <tr>
                        <td>N</td>
                        <td>n</td>
                        <td>White Knight</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>b</td>
                        <td>White Bishop</td>
                    </tr>
                    <tr>
                        <td>Q</td>
                        <td>q</td>
                        <td>White Queen</td>
                    </tr>
                    <tr>
                        <td>K</td>
                        <td>k</td>
                        <td>White King</td>
                    </tr>
                </table>
            </div>

        <div class="chessboard">
            {% for square in squares %}
                <div class="{{ square.color }}">
                    {{ square.piece }}{{ square.name }}
                </div>
            {% endfor %}
        </div>

        <p>
            Thus, to move a piece, you can simply specify the piece you want to move and the square you want to move it to. For instance, if a game just started and I had the White pieces, I can tell my knight in g1 (Ng1) to move to square f3 by writing Nf3. For pawns, however, it is enough to simply state the square to move them to, so you can state e3 instead of Pe3 for example.
        </p>

        <div>
            <h3>Try It Yourself!</h3>
        </div>

        <div>

            <form action="/notation" method="POST">
                <label for="move">Which piece moved?</label>
                <input type="text" id="move" name="move" required>
                <button type="submit">Submit</button>
            </form>

            <form action="/notation" method="POST">
                <label for="move">What is the name of the final-position square?</label>
                <input type="text" id="move" name="move" required>
                <button type="submit">Submit</button>
            </form>
    

            <form action="/notation" method="POST">
                <label for="move">What is the final UCI notation?</label>
                <input type="text" id="move" name="move" required>
                <button type="submit">Submit</button>
            </form>
    
    
            <div>
                {{ board._repr_svg_() | safe }}
            </div>
            
        </div>

    </body>
{% endblock %}