{% extends "layout.html" %}

{% block title %}
    Openings
{% endblock %}

{% block main %}
    <h1>Common Chess Openings</h1>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
      </script>

    <div style="margin-top: 50px;"></div>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'SicilianDefense')">Sicilian Defense</button>
        <button class="tablinks" onclick="openCity(event, 'RuyLópez')">Ruy López</button>
        <button class="tablinks" onclick="openCity(event, 'ItalianGame')">Italian Game</button>
      </div>
      
      <div id="SicilianDefense" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ sd_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left">Move Order</p>
                <p class="text-left">Pros vs. Cons</p>
                <p class="text-left">Chess Masters Who Play This Opening</p>
            </div>
        </div>
      </div>

      <div id="RuyLópez" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ rl_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left">Move Order</p>
                <p class="text-left">Pros vs. Cons</p>
                <p class="text-left">Chess Masters Who Play This Opening</p>
            </div>
        </div>
      </div>

      <div id="ItalianGame" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ sd_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left">Move Order</p>
                <p class="text-left">Pros vs. Cons</p>
                <p class="text-left">Chess Masters Who Play This Opening</p>
            </div>
        </div>
      </div>
      

      
    <!--
    <div style="margin-right: 70px;"></div>
-->


{% endblock %}