{% extends "layout.html" %}

{% block title %}
    Openings
{% endblock %}

{% block main %}
    <h1>Common Chess Openings</h1>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
      </script>

    <div style="margin-top: 50px;"></div>

    <div class="sidenav">
        <a href="#">Sicilian Defense</a>
        <a href="#">Ruy López</a>
        <a href="#">Italian Game</a>
        <a href="#">Caro-Kann Defense</a>
        <a href="#">Queen's Gambit</a>
      </div>
      
      <!-- Page content -->
      <div class="main">
        ...
      </div>

    <div style="margin-right: 70px;"></div>
      
      <!-- Page content -->
      <div class="main">
        ...
      </div>

    <div id="Sicilian Defense">
        <div class="chessboard board-right">
            {{ sd_board|safe }}
        </div>
        <p>Move Order</p>
        <p>Pros vs. Cons</p>
        <p>Chess Masters Who Play This Opening</p>
    </div> 
      
    <div id="Ruy López" class="tabcontent">
        <p>Move Order</p>
        <p>Pros vs. Cons</p>
        <p>Chess Masters Who Play This Opening</p>
    </div>
    
    <div id="Italian Game" class="tabcontent">
        <p>Move Order</p>
        <p>Pros vs. Cons</p>
        <p>Chess Masters Who Play This Opening</p>
    </div>

    <div id="Caro-Kann Defense" class="tabcontent">
        <p>Move Order</p>
        <p>Pros vs. Cons</p>
        <p>Chess Masters Who Play This Opening</p>
    </div>

    <div id="Queen's Gambit" class="tabcontent">
        <p>Move Order</p>
        <p>Pros vs. Cons</p>
        <p>Chess Masters Who Play This Opening</p>
    </div>




{% endblock %}