{% extends "layout.html" %}

{% block title %}
    Openings
{% endblock %}

{% block main %}
    <h1>Common Chess Openings</h1>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
      </script>

    <div style="margin-top: 40px;"></div>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'SicilianDefense')">Sicilian Defense</button>
        <button class="tablinks" onclick="openCity(event, 'RuyLópez')">Ruy López</button>
        <button class="tablinks" onclick="openCity(event, 'ItalianGame')">Italian Game</button>
        <button class="tablinks" onclick="openCity(event, 'CaroKannDefense')">Caro-Kann Defense</button>
        <button class="tablinks" onclick="openCity(event, 'QueensGambit')">Queen's Gambit</button>
      </div>
      
      <div id="SicilianDefense" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ sd_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left"><b>Move Order:</b></p>
                    <small class="text-left">e4 c5</small>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Pros vs. Cons:</b></p>
                    <dl class="text-left">  
                        <dt>Pros</dt>
                            <dd>- Creates unbalanced games</dd>
                            <dd>- Black has good attacking chances</dd>
                            <dd>- It's an excellent opening to play when you need to win</dd>
                        <dt>Cons</dt>
                            <dd>- White has many ways to meet the Sicilian</dd>
                            <dd>- White gets great attacking chances in the main variations</dd>
                            <dd>- There is a lot of theory</dd>
                    </dl>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Chess Masters Who Play This Opening:</b></p>
                    <small class="text-left">Bobby Fischer, Garry Kasparov, Magnus Carlsen, Vladimir Kramnik</small>
            </div>
        </div>
      </div>

      <div id="RuyLópez" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ rl_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left"><b>Move Order:</b></p>
                    <small class="text-left">e4 e5 Nf3 Nc6 Bb5</small>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Pros vs. Cons:</b></p>
                    <dl class="text-left">  
                        <dt>Pros</dt>
                            <dd>- It leads to very complex and multifaceted play</dd>
                            <dd>- It tends to give White long-term pressure</dd>
                            <dd>- White develops rapidly, and castles quickly</dd>
                            <dd>- There are good lines for both tactical and positional players</dd>
                        <dt>Cons</dt>
                            <dd>- It's difficult to learn its extensive theory</dd>
                            <dd>- Black has a vast number of defenses to choose from</dd>
                    </dl>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Chess Masters Who Play This Opening:</b></p>
                    <small class="text-left">Vladimir Kramnik, Garry Kasparov, Fabiano Caruana, Magnus Carlsen, Bobby Fischer</small>
            </div>
        </div>
      </div>

      <div id="ItalianGame" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ ig_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left"><b>Move Order:</b></p>
                    <small class="text-left">e4 e5 Nf3 Nc6 Bc4</small>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Pros vs. Cons:</b></p>
                    <dl class="text-left">  
                        <dt>Pros</dt>
                            <dd>- Natural play</dd>
                            <dd>- Focus on the center</dd>
                            <dd>- Rapid development</dd>
                        <dt>Cons</dt>
                            <dd>- The bishop on c4 might be exposed</dd>
                            <dd>- Black's center is not under immediate pressure</dd>
                    </dl>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Chess Masters Who Play This Opening:</b></p>
                    <small class="text-left">Fabiano Caruana, Magnus Carlsen, Vladimir Kramnik, Levon Aronian</small>
            </div>
        </div>
      </div>

      <div id="CaroKannDefense" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ ck_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left"><b>Move Order:</b></p>
                    <small class="text-left">e4 c6</small>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Pros vs. Cons:</b></p>
                    <dl class="text-left">  
                        <dt>Pros</dt>
                            <dd>- Sound pawn structure</dd>
                            <dd>- Free light-squared bishop</dd>
                            <dd>- Safe and solid</dd>
                        <dt>Cons</dt>
                            <dd>- Less space for black</dd>
                            <dd>- Slower development</dd>
                            <dd>- There are many different responses for White</dd>
                    </dl>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Chess Masters Who Play This Opening:</b></p>
                    <small class="text-left">Anatoly Karpov, Hikaru Nakamura, Vladimir Kramnik, Viswanathan Anand</small>
            </div>
        </div>
      </div>

      <div id="QueensGambit" class="tabcontent">
        <div class="content-container">
            <p class="openings-left">{{ qg_board|safe }}</p>
            <div class="text-right-container">
                <p class="text-left"><b>Move Order:</b></p>
                    <small class="text-left">d4 d5 c4</small>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Pros vs. Cons:</b></p>
                    <dl class="text-left">  
                        <dt>Pros</dt>
                            <dd>- Fights to control the center</dd>
                            <dd>- It puts immediate pressure on Black</dd>
                            <dd>- Gains space</dd>
                        <dt>Cons</dt>
                            <dd>- White may have to spend time getting the pawn back</dd>
                            <dd>- Less attacking chances against the black king</dd>
                            <dd>- Black may aim to counterattack d4</dd>
                    </dl>
            <div style="margin-top: 60px;"></div>
                <p class="text-left"><b>Chess Masters Who Play This Opening:</b></p>
                    <small class="text-left">Garry Kasparov, Bobby Fischer, Anatoly Karpov, Magnus Carlsen</small>
            </div>
        </div>
      </div>
      

      
    <!--
    <div style="margin-right: 70px;"></div>
-->


{% endblock %}