{% extends "layout.html" %}

{% block title %}
    Chess
{% endblock %}

{% block main %}
    <h1>Chess Rules</h1>

    <div style="margin-top: 60px;"></div>
    
    <body>
        <section>
            <p>
                The rules, often referred to as the laws, that govern chess outline the intricacies of this two-player abstract strategy board game. Played on a chessboard, each participant commands a set of sixteen pieces, each with distinct movements. The ultimate goal is to achieve checkmate—putting the opponent's king in a position where it faces capture with no escape. However, the conclusion of a game can take various routes, including resignation or draw scenarios.
            </p>
        </section>
        <section>
            <p>
                While the exact origins of chess are shrouded in mystery, the modern rules began taking shape during the Middle Ages and underwent refinements until the early 19th century. Regional variations persisted during this evolution. Presently, FIDE (Fédération Internationale des Échecs), the international chess governing body, establishes standard rules, with minor adaptations by national organizations for specific needs. Different rule sets cater to variations like fast chess, correspondence chess, online chess, and Chess960.
            </p>
        </section>
        <section>
            <p>
                Beyond detailing the fundamental moves of pieces, these rules encompass specifications for equipment, parameters for time control, guidelines for player conduct and ethics, accommodations for physically challenged players, and the recording of moves using chess notation. The comprehensive set also includes provisions for addressing irregularities that may arise during a game, ensuring a fair and enjoyable playing experience.
            </p>
        </section>
    </body>

    <body>
        <header>
            <h3>Initial Setup</h3>
        </header>
        <section>
            
        </section>
{% endblock %}