{% extends "layout.html" %}

{% block title %}
    Chess
{% endblock %}

{% block main %}
    <h1>Chess Rules</h1>

    <div style="margin-top: 60px;"></div>
    
    <body>
        <section>
            <p>
                The rules, often referred to as the laws, that govern chess outline the intricacies of this two-player abstract strategy board game. Played on a chessboard, each participant commands a set of sixteen pieces, each with distinct movements. The ultimate goal is to achieve checkmate—putting the opponent's king in a position where it faces capture with no escape. However, the conclusion of a game can take various routes, including resignation or draw scenarios.
            </p>
        </section>
        <section>
            <p>
                While the exact origins of chess are shrouded in mystery, the modern rules began taking shape during the Middle Ages and underwent refinements until the early 19th century. Regional variations persisted during this evolution. Presently, FIDE (Fédération Internationale des Échecs), the international chess governing body, establishes standard rules, with minor adaptations by national organizations for specific needs. Different rule sets cater to variations like fast chess, correspondence chess, online chess, and Chess960.
            </p>
        </section>
        <section>
            <p>
                Beyond detailing the fundamental moves of pieces, these rules encompass specifications for equipment, parameters for time control, guidelines for player conduct and ethics, accommodations for physically challenged players, and the recording of moves using chess notation. The comprehensive set also includes provisions for addressing irregularities that may arise during a game, ensuring a fair and enjoyable playing experience.
            </p>
        </section>
    </body>

    <div style="margin-top: 80px;"></div>

    <body>
        <header>
            <h3>Initial Setup</h3>
        </header>
        <section>
            <p>
                {{ board|safe }}
            <p>
        </section>
        <section>
            <p>
                Chess unfolds on a square chessboard, a meticulous grid of 64 squares arranged in an eight-by-eight configuration, reminiscent of the design seen in draughts. The squares, regardless of their actual hue, are distinguished as either "light" or "white" for the brighter ones and "dark" or "black" for their darker counterparts. At the inception of the game, a set of sixteen pieces, divided into "white" and "black," find their positions on the board. The board's orientation guarantees that each player's near-right corner holds a white square. The rows stretching horizontally bear the name "ranks," while the vertical columns are referred to as "files."
            </p>
        </section>
        <section>
            <p>
            At the inception of the game, the chess pieces assume their positions as depicted in the diagram: each side featuring a king, queen, two rooks, two bishops, two knights, and an array of eight pawns. The arrangement is a thoughtful placement of each piece on the board:
            </p>
        </section>

        <div style="margin-top: 40px;"></div>

        <section>
        <p>
            <ul>
                <li1>- Rooks are placed on the outside corners, right and left edge.</li1>
                <li1>- Knights are placed immediately inside of the rooks.</li1>
                <li1>- Bishops are placed immediately inside of the knights.</li1>
                <li1>- White queen on the white square and black queen on the black square.</li1>
                <li1>- The king takes the vacant spot next to the queen.</li1>
                <li1>- Pawns are placed one square in front of all of the other pieces.</li1>
            </ul>
        </p>
        </section>

        <div style="margin-top: 80px;"></div>

        <header>
            <h3>Gameplay<h3>
        </header>
        <section>
            <p>
                The player in charge of the white pieces is identified as "White," while the player managing the black pieces is referred to as "Black." White initiates the game by making the first move, after which the players take turns making moves. It is mandatory to make a move; deliberately skipping a turn, even if disadvantageous, is not allowed. The game progresses until a checkmate is achieved, a player voluntarily resigns, or a draw is declared, as elaborated below. Additionally, in games subject to a time control, a player exceeding the time limit loses unless they cannot be checkmated.
            </p>
            <p>
                Official chess rules do not prescribe a specific method for determining who plays as White. Instead, this decision is typically determined by tournament-specific rules (such as those in Swiss system or round-robin tournaments) or, in casual play, through mutual agreement. In instances of mutual agreement, a common practice is for one player to conceal a piece (usually a pawn) of each color in their hands, allowing the other player to choose a hand. The revealed piece determines the color assigned to the choosing player.
            </p>
        </section>
        <header>
            <h5>Basic Movements<h5>
        </header>

        <section>
            <p>
                Every chess piece has a unique way of moving. When making a move, a piece can advance to an empty square, except when capturing an adversary's piece. With the exceptions of knight moves and castling, pieces are unable to leap over other pieces on the board. A piece is considered captured or taken when an opposing piece attacks and occupies its square. Once captured, the piece is permanently removed from the game. It's worth noting that while the king can be placed in check, it cannot be captured.
            </p>
        </section>

        <div style="margin-top: 40px;"></div>

        <section>
        <p>
            <ul>
                <li2>- The king moves exactly one square horizontally, vertically, or diagonally. A special move with the king known as castling is allowed only once per player, per game.</li2>
                <li2>- A rook moves any number of vacant squares horizontally or vertically. It also is moved when castling.</li2>
                <li2>- A bishop moves any number of vacant squares diagonally. (Thus a bishop can move to only light or dark squares, not both.)</li2>
                <li2>- The queen moves any number of vacant squares horizontally, vertically, or diagonally.</li2>
                <li2>- A knight moves to one of the nearest squares not on the same rank, file, or diagonal. (This can be thought of as moving two squares horizontally then one square vertically, or moving one square horizontally then two squares vertically—i.e. in an "L" pattern.) The knight is not blocked by other pieces; it jumps to the new location.</li2>
                <li2>- Pawns have the most complex rules of movement:</li2>
                <ul>
                    <li2>- A pawn moves straight forward one square, if that square is vacant. If it has not yet moved, a pawn also has the option of moving two squares straight forward, provided both squares are vacant. Pawns cannot move backwards.</li2>
                    <li2>- A pawn, unlike other pieces, captures differently from how it moves. A pawn can capture an enemy piece on either of the two squares diagonally in front of the pawn. It cannot move to those squares when vacant except when capturing en passant.</li2>
                </ul>
            </ul>
        </p>
        </section>

    </body>
{% endblock %}